*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
}
.wrapper
{
    display: flex;
    justify-content: space-around;
    
}
main, footer
{
    width: 100%;
    text-align: center;
}
.display
{
    width: 700px;
    text-align: center;
    color: white;
    height: 900px;
    background-color: grey;
    margin: 10px;
}
button
{
    width: 200px;
    background-color: aliceblue;
}
table
{
    border: thick solid gray;
    border-collapse: collapse;
    width: auto;
    text-align: center;
    margin: auto;
}
th, td
{
    border: thin solid black;
    padding: 8px;
    width: 50%;
}
.player-stats-table
{
    display: flex;
    align-self: center;
   text-align: center;
   margin: 0;
}
#player-stats, #computer-stats
{
    width: 80%;
    font-size: 20px;
    height: 200px;
    margin: auto;
    margin-bottom: 30px;
}
.options
{
    width: 100%;
    margin-bottom: 20px;
}
#finisher
{
    display: none;
}
#finisher.appear
{
    display: inline-block;
}
#player-log, #computer-log
{
    height: 300px;
    overflow-y: auto;
    background-color: rgb(139, 98, 98);
    font-size: 25px;
    margin-bottom: 20px;
}
p
{
    font-size: 20px;
}
img
{
    width: 200px;
    height: 200px;
}

@media only screen and (max-width: 800px) {
    #player-stats, #computer-stats
    {
        width: 80%;
        font-size: 20px;
        height: 200px;
        margin: 0;
        margin-bottom: 30px;
    }
    .wrapper
    {
        justify-content: start;
        flex-direction: column;
    }
  }
